.container{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    background: url('/public/bg5.jpg');
    background-size: cover;
    background-position: center;
    background-origin: content-box;
    background-repeat: no-repeat;
    height:50px;
    width:100%;
    color:white;
    position:relative;
    box-shadow: 0 5px 5px rgb(173, 169, 169);
}

.title{
    color:white;
    font-size: 25px;
    border-radius:20%;
    background-color: rgb(6, 3, 32);
    padding:5px;
    font-weight:bold;
    margin-left:5px;
}

